/*
Theme Name: Luxury Spa Child
Theme URI: http://cmsmasters.net/luxury-spa-child/
Author: Redback Solutions
Author URI: http://www.rb.com.au/
Description: Luxury Spa Child Theme
Template: luxury-spa
Version: 1.0.0
License:
License URI:
Text Domain: luxury-spa-child
*/





/* COPY */
h2 {
    font-size: 34px;
    line-height: 42px;
}

h3 {
	margin-top: 35px;
	font-weight: 600;
}

ul {
	padding-left: 25px;
}

ul > li:before {
    color: #00c1b1;
}


.references {
    margin-top: 30px;
    padding: 20px;
    background-color: whitesmoke;
}

.references p {
	font-size: 12px;
}





/* HOME */
.quality {
	padding-left:45px;
}

.quality h3 {

}

.quality h3:before {
	display: inline-block;
	content: url(http://energisechiropractic.rbdev.com.au/wp-content/uploads/2018/01/001-check-mark-1.png);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	transform:translate(0px, -3px);
}





/* IMG */
.cmsmasters_img.service-page-img {
	-webkit-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -ms-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}

.cmsmasters_img.service-page-img:hover {
	filter: brightness(70%);

}

.content img.alignright {
    padding-left: 20px;
    margin-left: 35px;
}





/* SIDEBAR */

.widget h3.widgettitle {
    font-size: 24px;
    margin-bottom: 35px;
}

.widget_pages ul li a {
	padding: 18px 0;
	font-size: 16px;
}

.sidebar aside#pages-2 {
    padding: 20px 40px;
    border-left: 1px solid;
}





/* CLINKO */
.clinko-wrapper {
	max-height: 659px;
}





/* FOOTER */

.footer_custom_html {
	max-width: 900px;
    color: white;
    text-transform: none;
    font-family: 'Raleway', Georgia, Times, 'Century Schoolbook L', serif;
    font-size: 16px;
}


@media screen and  (min-width: 44.8125em) {
	.site-footer__rb {
	    margin-left: auto;
	    margin-top: 0;
	}	
}

.site-footer__rb {
    color: #848484;
    display: inline-block;
}

.site-footer__rb svg {
    fill: currentColor;
    transition: all 0.2s ease-out;
}
	
.site-footer__rb:hover svg {
    fill: #f91546;
}

.footer_copyright a:hover {
    color: #fff;
}

a.site-footer__rb {
    float: right;
}